Makefile
Makefile.in
.deps/
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
lastline.src
lib/libmcrypt-config
lib/mcrypt.h
libltdl/
libmcrypt.creator.user
libmcrypt.spec
libtool
ltmain.sh
missing
.libs/
*.lo
*.la
stamp-h1
test-driver
