#ifdef APSTUDIO_INVOKED
#error this file is not editable by App Studio
#endif //APSTUDIO_INVOKED

#include <windows.h>
#include "rc.h"

PEGWIT ICON PEGWIT.ICO
//1 FONT PWDFONT.FNT

 //EDITTEXT IDC_PKNAME, 51, 37, 76, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP

PEGWIT DIALOG 6, 15, 322, 249
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CLASS "PEGWIT"
CAPTION "PEGWIT"
FONT 8, "MS Sans Serif"
{
 LTEXT "Private Key", IDT_SECRET, 3, 6, 46, 8
 EDITTEXT IDC_SECRET, 51, 4, 268, 12, ES_AUTOHSCROLL | ES_PASSWORD | ES_WANTRETURN | WS_BORDER | WS_TABSTOP
 CHECKBOX "Show", IDC_SHOWPW, 15, 18, 32, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 LTEXT "Public Key", IDT_PK, 3, 33, 46, 8
 COMBOBOX IDC_PKNAME, 51, 31, 76, 12, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_TABSTOP
 EDITTEXT IDC_PKDATA, 132, 31, 187, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Make From Secret Key", IDC_MAKEPK, 3, 46, 92, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Select", IDC_SELPK, 132, 47, 43, 14, WS_TABSTOP
 PUSHBUTTON "Save", IDC_SAVEPK, 204, 47, 43, 14
 PUSHBUTTON "Delete", IDC_DELPK, 276, 47, 43, 14
 EDITTEXT IDC_TEXT, 3, 65, 316, 81, ES_MULTILINE | ES_WANTRETURN | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
 PUSHBUTTON "&Sign", IDC_SIG, 3, 154, 64, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Verify", IDC_VER, 3, 172, 64, 14
 PUSHBUTTON "&Encrypt", IDC_ENC, 3, 189, 64, 14
 PUSHBUTTON "&Decrypt", IDC_DEC, 3, 207, 64, 14
 CHECKBOX "Conventional", IDC_CONV, 3, 224, 60, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 RADIOBUTTON "This &Window", IDC_WIN, 72, 154, 70, 12, BS_RADIOBUTTON | WS_GROUP | WS_TABSTOP
 RADIOBUTTON "&Clipboard", IDC_CLIPB, 72, 172, 70, 12, BS_RADIOBUTTON | WS_TABSTOP
 RADIOBUTTON "&File", IDC_FILE, 72, 189, 46, 12, BS_RADIOBUTTON | WS_TABSTOP
 CHECKBOX "Binary", IDC_BIN, 120, 189, 46, 12, BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP
 EDITTEXT IDC_FILENAME, 72, 208, 204, 12, ES_AUTOHSCROLL | WS_DISABLED | WS_BORDER | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Browse", IDC_BROWSE, 280, 207, 39, 14, WS_DISABLED | WS_TABSTOP
 CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 224, 151, 95, 39
 CHECKBOX "Encrypt to self", IDC_TOSELF, 247, 154, 61, 12, BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_GROUP | WS_TABSTOP
 RTEXT "Decrypt with key #", IDT_KEYNUM, 228, 174, 67, 8
 EDITTEXT IDC_KEYNUM, 300, 172, 15, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Close", IDCANCEL, 129, 231, 64, 14, WS_GROUP | WS_TABSTOP
}

GET DIALOG 6, 15, 288, 138
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "Enter"
FONT 8, "MS Sans Serif"
{
 LTEXT "Text", -1, 3, 4, 282, 8
 EDITTEXT IDC_TEXT, 3, 16, 282, 98, ES_MULTILINE | ES_WANTRETURN | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "OK", IDOK, 32, 120, 88, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "CANCEL", IDCANCEL, 163, 120, 88, 14, WS_GROUP | WS_TABSTOP
}

SELECTPK DIALOG -3, 44, 322, 191
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Select Public Key"
FONT 8, "MS Sans Serif"
{
 LISTBOX IDC_PKLIST, 4, 23, 315, 166, LBS_NOTIFY | WS_BORDER | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_GROUP | WS_TABSTOP
 DEFPUSHBUTTON "&Select", IDOK, 13, 4, 64, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Set &Default", IDC_SETDEF, 90, 4, 64, 14
 PUSHBUTTON "Delete", IDC_DELPK, 167, 4, 64, 14
 PUSHBUTTON "&Close", IDCANCEL, 244, 4, 64, 14
}

1 VERSIONINFO
FILEVERSION     1,00,0,4
PRODUCTVERSION  1,00,0,4
FILEFLAGSMASK   0xFFFFFFFF
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       VS_FF_PRERELEASE
#endif
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "Disastry\0\0"
   VALUE "FileDescription", "PegwitW for Windows"
   VALUE "FileVersion",     "1.00 alfa.04\0\0"
   VALUE "InternalName",    "PEGWITW.EXE\0\0"
   VALUE "LegalCopyleft",  "none\0\0"
   VALUE "OriginalFilename", "PEGWITW.EXE\0\0"
   VALUE "Home Page", "http://disastry.dhs.org/pegwit/\0\0"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }
}
